<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="updateProductForm" (ngSubmit)="onUpdateProduct()">
    
    <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Product Name" formControlName="name" required>
        <mat-error *ngFor="let validation of form_validation_messages.name">
          <mat-error class="error-message" *ngIf="updateProductForm.get('name').hasError(validation.type) && (updateProductForm.get('name').dirty || updateProductForm.get('name').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Price" formControlName="price" required>
        <mat-error *ngFor="let validation of form_validation_messages.price">
          <mat-error class="error-message" *ngIf="updateProductForm.get('price').hasError(validation.type) && (updateProductForm.get('price').dirty || updateProductForm.get('price').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Tax" formControlName="tax" required>
        <mat-error *ngFor="let validation of form_validation_messages.tax">
          <mat-error class="error-message" *ngIf="updateProductForm.get('tax').hasError(validation.type) && (updateProductForm.get('tax').dirty || updateProductForm.get('tax').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
    <ion-button color="secondary" margin-top expand="block" type="submit" [disabled]="updateProductForm.invalid">Update Product Info</ion-button>
  </form>
</ion-content>
