<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="invoices"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addProduct()" mode="md">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-grid>
        <ion-row>
            <ion-col size="4" text-start><strong><small>Product Name</small></strong></ion-col>
            <ion-col size="3" text-end><strong><small>Price (Rs.)</small></strong></ion-col>
            <ion-col size="2" text-end><strong><small>Tax (%)</small></strong></ion-col>
            <ion-col size="3" text-end *ngIf="dataRecieved.pageName === 'Create Invoice'"><strong><small>Select</small></strong></ion-col>
          </ion-row>
    </ion-grid>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let prod of _products" #slidingItem>
      <ion-item mode="md" lines="full">
        <ion-label>
          <ion-grid>
              <ion-row>
                  <ion-col size="5" text-start>{{ prod.name }}</ion-col>
                  <ion-col size="3" text-end>{{ prod.price }}</ion-col>
                  <ion-col size="2" text-end>{{ prod.tax }}%</ion-col>
              </ion-row>
          </ion-grid>
        </ion-label>
        <ion-checkbox slot="end" mode="md" (ionChange)="selectProduct($event, prod)" *ngIf="dataRecieved.pageName === 'Create Invoice'"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="showProductInfo(prod.id)">
          <ion-icon name="alert"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="updateProductInfo(prod)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProduct(prod.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer *ngIf="dataRecieved.pageName === 'Create Invoice'">
  <ion-toolbar>
    <ion-button (click)="markedData()" color="secondary" expand="block" position="bottom">Update Invoice</ion-button>
  </ion-toolbar>
</ion-footer>