<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="invoices"></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item lines="full">
          <ion-grid>
              <ion-row>
                  <ion-col size="4" text-start><strong><small>Product Name</small></strong></ion-col>
                  <ion-col size="2" text-end><strong><small>Qty.</small></strong></ion-col>
                  <ion-col size="2" text-end><strong><small>Price (Rs.)</small></strong></ion-col>
                  <ion-col size="2" text-end><strong><small>Tax (%)</small></strong></ion-col>
                  <ion-col size="2" text-end><strong><small>Total (Rs.)</small></strong></ion-col>
                </ion-row>
          </ion-grid>
        </ion-item>
</ion-content>
